<div class="about-div">
    <div class="about-content">
        <p>
            Welcome to our satirical website! We would like to make it abundantly clear that the content presented on
            this platform is not intended to be taken seriously. We exist purely for learning and comedic purposes, and
            any information presented here should be consumed with a grain of salt (or a whole shaker, to be safe).
        </p>
        <p>
            Our content is meant to be a satirical take on current events, trends, and pop culture, and it is in no way
            intended to be taken as factual or serious journalism. If you're looking for accurate, unbiased news, this
            is definitely not the place for you. We're more likely to tell you that the earth is flat and that the moon
            is made of cheese than we are to give you an accurate weather report.
        </p>
        <p>
            We hope that you can appreciate the humor and satire that we aim to provide. Our writers and contributors
            are some of the most creative minds out there, and we're constantly pushing the limits of what's possible in
            the realm of satire.
        </p>
        <p><span>written by ChatGPT</span></p>
    </div>

</div>