<div id="container" class="outer-container">
    <div id="content" class="quote">
    </div>
    <div id="Ye" class="kayne">
        <img src="/public/images/kayne-microphone.jpeg" alt="kayne saying some truth onto the microphone">
    </div>
    <button class="btn btn-outline-warning provoke-btn zoom" onclick="apiRequest()">Provoke Kayne</button>
    <div id="follower">
        <img class="follower-gif" src="/public/images/kanye-stare.gif" alt="Kayne stares at you">
    </div>
    <audio id="jumpscare-audio">
        <source src="/public/audio/look-at-this-dude.mp3" type="audio/mpeg">
    </audio>
</div>
<script rel="text/javascript" src="../public/javascripts/controller.js"></script>