<div class="about-div">
    <div class="about-content">
        <p>
            Oh boy, where do I even start with Kanye West? Well, he's basically a musical genius who's won a ton of
            awards, sold millions of albums, and made more money than most of us can even dream of. But let's be real,
            the guy's also known for being a bit, uh, eccentric. He's got a fashion line that looks like it was designed
            by a toddler with a glue stick, and he's been known to say some pretty ridiculous things in interviews
            (looking at you, "I'm a creative genius and there's no other way to word it"). But hey, who needs humility
            when you've got an ego the size of Jupiter, right? So yeah, that's Kanye West for ya - a musical genius with
            a side of absurdity.
        </p>
        <p><span>written by ChatGPT</span></p>
    </div>

</div>